In [1]:
import pandas
import numpy as np

In [2]:
Raw_Housing_Data2 = pandas.read_csv("Raw_Housing_Prices3.csv")

In [3]:
Raw_Housing_Data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 22 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 21609 non-null  int64
 1   ID                                         21609 non-null  int64
 2   Date House was Sold                        21609 non-null  object
 3   Sale Price                                 21609 non-null  float64
 4   No of Bedrooms                             21609 non-null  int64
 5   No of Bathrooms                            21609 non-null  float64
 6   Flat Area (in Sqft)                        21609 non-null  float64
 7   Lot Area (in Sqft)                         21609 non-null  float64
 8   No of Floors                               21609 non-null  float64
 9   Waterfront View                            21609 non-null  object
 10  No of Times Visited                        21609 non-null  object
 11  Condition of the House                     21609 non-null  object
 12  Overall Grade                              21609 non-null  int64
 13  Area of the House from Basement (in Sqft)  21609 non-null  float64
 14  Basement Area (in Sqft)                    21609 non-null  int64
 15  Age of House (in Years)                    21609 non-null  int64
 16  Renovated Year                             21609 non-null  int64
 17  Zipcode                                    21609 non-null  float64
 18  Latitude                                   21609 non-null  float64
 19  Longitude                                  21609 non-null  float64
 20  Living Area after Renovation (in Sqft)     21609 non-null  float64
 21  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(8), object(4)
memory usage: 3.6+ MB

In [4]:
# to change data type
Raw_Housing_Data2['Zipcode'] = Raw_Housing_Data2['Zipcode'].astype(object)
Raw_Housing_Data2.dtypes

Unnamed: 0                                     int64
ID                                             int64
Date House was Sold                           object
Sale Price                                   float64
No of Bedrooms                                 int64
No of Bathrooms                              float64
Flat Area (in Sqft)                          float64
Lot Area (in Sqft)                           float64
No of Floors                                 float64
Waterfront View                               object
No of Times Visited                           object
Condition of the House                        object
Overall Grade                                  int64
Area of the House from Basement (in Sqft)    float64
Basement Area (in Sqft)                        int64
Age of House (in Years)                        int64
Renovated Year                                 int64
Zipcode                                       object
Latitude                                     float64
Longitude                                    float64
Living Area after Renovation (in Sqft)       float64
Lot Area after Renovation (in Sqft)            int64
dtype: object

In [5]:
# to chnage data type with values
Raw_Housing_Data2['No of Times Visited'].unique()

array(['None', 'Thrice', 'Four', 'Twice', 'Once'], dtype=object)

In [6]:
mapping = { 'None' : '0',
          'Once': '1',
          'Twice' : '2',
          'Thrice' : '3',
          'Four' : '4',
          }
Raw_Housing_Data2['No of Times Visited'] = Raw_Housing_Data2['No of Times Visited'].map(mapping)

In [7]:
Raw_Housing_Data2.head(10)

,Unnamed: 0,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,...,7,1180.0,0,63,0,98178,47.5112,-122.257,1340.0,5650
1,1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,...,7,2170.0,400,67,1991,98125,47.7210,-122.319,1690.0,7639
2,2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,...,6,770.0,0,85,0,98028,47.7379,-122.233,2720.0,8062
3,3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,...,7,1050.0,910,53,0,98136,47.5208,-122.393,1360.0,5000
4,4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,...,8,1680.0,0,31,0,98074,47.6168,-122.045,1800.0,7503
5,5,7237550310,14 May 2017,1129575.0,4,4.50,5420.0,101930.0,1.0,No,...,10,3890.0,1530,17,0,98053,47.6561,-122.005,4760.0,101930
6,6,1321400060,14 June 2017,257500.0,3,2.25,1715.0,6819.0,2.0,No,...,7,1715.0,0,23,0,98003,47.3097,-122.327,2238.0,6819
7,7,2008000270,15 January 2016,291850.0,3,1.50,1060.0,9711.0,1.0,No,...,7,1060.0,0,55,0,98198,47.4095,-122.315,1650.0,9711
8,8,2414600126,15 April 2016,229500.0,3,1.00,1780.0,7470.0,1.0,No,...,7,1050.0,730,58,0,98146,47.5123,-122.337,1780.0,8113
9,9,3793500160,15 March 2016,323000.0,3,2.50,1890.0,6560.0,2.0,No,...,7,1890.0,0,15,0,98038,47.3684,-122.031,2390.0,7570

In [9]:
# to create variables from an existing variable
Raw_Housing_Data2['Ever Renovated'] = np.where(Raw_Housing_Data2['Renovated Year'] == 0, 'No','Yes')
Raw_Housing_Data2

,Unnamed: 0,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated
0,0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,...,1180.0,0,63,0,98178,47.5112,-122.257,1340.0,5650,No
1,1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,...,2170.0,400,67,1991,98125,47.7210,-122.319,1690.0,7639,Yes
2,2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,...,770.0,0,85,0,98028,47.7379,-122.233,2720.0,8062,No
3,3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,...,1050.0,910,53,0,98136,47.5208,-122.393,1360.0,5000,No
4,4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,...,1680.0,0,31,0,98074,47.6168,-122.045,1800.0,7503,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,21604,263000018,14 May 2017,360000.0,3,2.50,1530.0,1131.0,3.0,No,...,1530.0,0,9,0,98103,47.6993,-122.346,1530.0,1509,No
21605,21605,6600060120,15 February 2016,400000.0,4,2.50,2310.0,5813.0,2.0,No,...,2310.0,0,4,0,98146,47.5107,-122.362,1830.0,7200,No
21606,21606,1523300141,14 June 2017,402101.0,2,0.75,1020.0,1350.0,2.0,No,...,1020.0,0,9,0,98144,47.5944,-122.299,1020.0,2007,No
21607,21607,291310100,15 January 2016,400000.0,3,2.50,1600.0,2388.0,2.0,No,...,1600.0,0,14,0,98027,47.5345,-122.069,1410.0,1287,No
21608,21608,1523300157,14 October 2017,325000.0,2,0.75,1020.0,1076.0,2.0,No,...,1020.0,0,10,0,98144,47.5941,-122.299,1020.0,1357,No

In [11]:
Raw_Housing_Data2['Purchase Year'] = pandas.DatetimeIndex(Raw_Housing_Data2['Date House was Sold']).year
Raw_Housing_Data2['Year Since Renovation'] = np.where(Raw_Housing_Data2['Ever Renovated'] == 'Yes', abs(Raw_Housing_Data2['Purchase Year'] - Raw_Housing_Data2['Renovated Year']),0)

In [12]:
Raw_Housing_Data2.head(10)

,Unnamed: 0,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,...,Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Purchase Year,Year Since Renovation
0,0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,...,63,0,98178,47.5112,-122.257,1340.0,5650,No,2017,0
1,1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,...,67,1991,98125,47.7210,-122.319,1690.0,7639,Yes,2017,26
2,2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,...,85,0,98028,47.7379,-122.233,2720.0,8062,No,2016,0
3,3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,...,53,0,98136,47.5208,-122.393,1360.0,5000,No,2017,0
4,4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,...,31,0,98074,47.6168,-122.045,1800.0,7503,No,2016,0
5,5,7237550310,14 May 2017,1129575.0,4,4.50,5420.0,101930.0,1.0,No,...,17,0,98053,47.6561,-122.005,4760.0,101930,No,2017,0
6,6,1321400060,14 June 2017,257500.0,3,2.25,1715.0,6819.0,2.0,No,...,23,0,98003,47.3097,-122.327,2238.0,6819,No,2017,0
7,7,2008000270,15 January 2016,291850.0,3,1.50,1060.0,9711.0,1.0,No,...,55,0,98198,47.4095,-122.315,1650.0,9711,No,2016,0
8,8,2414600126,15 April 2016,229500.0,3,1.00,1780.0,7470.0,1.0,No,...,58,0,98146,47.5123,-122.337,1780.0,8113,No,2016,0
9,9,3793500160,15 March 2016,323000.0,3,2.50,1890.0,6560.0,2.0,No,...,15,0,98038,47.3684,-122.031,2390.0,7570,No,2016,0

In [14]:
Raw_Housing_Data2.drop(columns = ['Date House was Sold','Purchase Year','Renovated Year'], inplace = True)

In [15]:
Raw_Housing_Data2.head(10)

,Unnamed: 0,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Ever Renovated,Year Since Renovation
0,0,7129300520,221900.0,3,1.00,1180.0,5650.0,1.0,No,0,...,1180.0,0,63,98178,47.5112,-122.257,1340.0,5650,No,0
1,1,6414100192,538000.0,3,2.25,2570.0,7242.0,2.0,No,0,...,2170.0,400,67,98125,47.7210,-122.319,1690.0,7639,Yes,26
2,2,5631500400,180000.0,2,1.00,770.0,10000.0,1.0,No,0,...,770.0,0,85,98028,47.7379,-122.233,2720.0,8062,No,0
3,3,2487200875,604000.0,4,3.00,1960.0,5000.0,1.0,No,0,...,1050.0,910,53,98136,47.5208,-122.393,1360.0,5000,No,0
4,4,1954400510,510000.0,3,2.00,1680.0,8080.0,1.0,No,0,...,1680.0,0,31,98074,47.6168,-122.045,1800.0,7503,No,0
5,5,7237550310,1129575.0,4,4.50,5420.0,101930.0,1.0,No,0,...,3890.0,1530,17,98053,47.6561,-122.005,4760.0,101930,No,0
6,6,1321400060,257500.0,3,2.25,1715.0,6819.0,2.0,No,0,...,1715.0,0,23,98003,47.3097,-122.327,2238.0,6819,No,0
7,7,2008000270,291850.0,3,1.50,1060.0,9711.0,1.0,No,0,...,1060.0,0,55,98198,47.4095,-122.315,1650.0,9711,No,0
8,8,2414600126,229500.0,3,1.00,1780.0,7470.0,1.0,No,0,...,1050.0,730,58,98146,47.5123,-122.337,1780.0,8113,No,0
9,9,3793500160,323000.0,3,2.50,1890.0,6560.0,2.0,No,0,...,1890.0,0,15,98038,47.3684,-122.031,2390.0,7570,No,0

In [16]:
Raw_Housing_Data2.to_csv('Transformed Data', index = False)